In [1]:
import pandas as pd
import numpy as np

In [2]:
# Load the dataset
data = pd.read_csv('/content/HR Data.csv')

In [4]:
print(data.head(5))

   Age Attrition     BusinessTravel  DailyRate              Department  \
0   41       Yes      Travel_Rarely       1102                   Sales
1   49        No  Travel_Frequently        279  Research & Development
2   37       Yes      Travel_Rarely       1373  Research & Development
3   33        No  Travel_Frequently       1392  Research & Development
4   27        No      Travel_Rarely        591  Research & Development

   DistanceFromHome  Education EducationField  EmployeeCount  EmployeeNumber  \
0                 1          2  Life Sciences              1               1
1                 8          1  Life Sciences              1               2
2                 2          2          Other              1               4
3                 3          4  Life Sciences              1               5
4                 2          1        Medical              1               7

   ...  RelationshipSatisfaction StandardHours  StockOptionLevel  \
0  ...                         1            80                 0
1  ...                         4            80                 1
2  ...                         2            80                 0
3  ...                         3            80                 0
4  ...                         4            80                 1

   TotalWorkingYears  TrainingTimesLastYear WorkLifeBalance  YearsAtCompany  \
0                  8                      0               1               6
1                 10                      3               3              10
2                  7                      3               3               0
3                  8                      3               3               8
4                  6                      3               3               2

  YearsInCurrentRole  YearsSinceLastPromotion  YearsWithCurrManager
0                  4                        0                     5
1                  7                        1                     7
2                  0                        0                     0
3                  7                        3                     0
4                  2                        2                     2

[5 rows x 35 columns]

In [5]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB
None

In [6]:
print(data.describe())

               Age    DailyRate  DistanceFromHome    Education  EmployeeCount  \
count  1470.000000  1470.000000       1470.000000  1470.000000         1470.0
mean     36.923810   802.485714          9.192517     2.912925            1.0
std       9.135373   403.509100          8.106864     1.024165            0.0
min      18.000000   102.000000          1.000000     1.000000            1.0
25%      30.000000   465.000000          2.000000     2.000000            1.0
50%      36.000000   802.000000          7.000000     3.000000            1.0
75%      43.000000  1157.000000         14.000000     4.000000            1.0
max      60.000000  1499.000000         29.000000     5.000000            1.0

       EmployeeNumber  EnvironmentSatisfaction   HourlyRate  JobInvolvement  \
count     1470.000000              1470.000000  1470.000000     1470.000000
mean      1024.865306                 2.721769    65.891156        2.729932
std        602.024335                 1.093082    20.329428        0.711561
min          1.000000                 1.000000    30.000000        1.000000
25%        491.250000                 2.000000    48.000000        2.000000
50%       1020.500000                 3.000000    66.000000        3.000000
75%       1555.750000                 4.000000    83.750000        3.000000
max       2068.000000                 4.000000   100.000000        4.000000

          JobLevel  ...  RelationshipSatisfaction  StandardHours  \
count  1470.000000  ...               1470.000000         1470.0
mean      2.063946  ...                  2.712245           80.0
std       1.106940  ...                  1.081209            0.0
min       1.000000  ...                  1.000000           80.0
25%       1.000000  ...                  2.000000           80.0
50%       2.000000  ...                  3.000000           80.0
75%       3.000000  ...                  4.000000           80.0
max       5.000000  ...                  4.000000           80.0

       StockOptionLevel  TotalWorkingYears  TrainingTimesLastYear  \
count       1470.000000        1470.000000            1470.000000
mean           0.793878          11.279592               2.799320
std            0.852077           7.780782               1.289271
min            0.000000           0.000000               0.000000
25%            0.000000           6.000000               2.000000
50%            1.000000          10.000000               3.000000
75%            1.000000          15.000000               3.000000
max            3.000000          40.000000               6.000000

       WorkLifeBalance  YearsAtCompany  YearsInCurrentRole  \
count      1470.000000     1470.000000         1470.000000
mean          2.761224        7.008163            4.229252
std           0.706476        6.126525            3.623137
min           1.000000        0.000000            0.000000
25%           2.000000        3.000000            2.000000
50%           3.000000        5.000000            3.000000
75%           3.000000        9.000000            7.000000
max           4.000000       40.000000           18.000000

       YearsSinceLastPromotion  YearsWithCurrManager
count              1470.000000           1470.000000
mean                  2.187755              4.123129
std                   3.222430              3.568136
min                   0.000000              0.000000
25%                   0.000000              2.000000
50%                   1.000000              3.000000
75%                   3.000000              7.000000
max                  15.000000             17.000000

[8 rows x 26 columns]

In [7]:
print(data.shape)

(1470, 35)

In [8]:
print(data.isnull().sum())

Age                         0
Attrition                   0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [13]:
# Example: Drop columns 'ColumnA' and 'ColumnB'
data.drop(columns=['DailyRate', 'EmployeeCount', 'HourlyRate', 'MonthlyRate', 'StandardHours', 'Over18'], inplace=True)

In [14]:
# Rename columns
columns_to_rename = {
    'BusinessTravel': 'Business_Travel',
    'DailyRate': 'Daily_Rate',
    'DistanceFromHome': 'Distance_From_Home',
    'EducationField': 'Education_Field',
    'EnvironmentSatisfaction': 'Environment_Satisfaction',
    'HourlyRate': 'Hourly_Rate',
    'JobLevel': 'Job_Level',
    'JobRole': 'Job_Role',
    'JobSatisfaction': 'Job_Satisfaction',
    'MaritalStatus': 'Marital_Status',
    'MonthlyIncome': 'Monthly_Income',
    'MonthlyRate': 'Monthly_Rate',
    'NumCompaniesWorked': 'Num_Companies_Worked',
    'OverTime': 'Over_Time',
    'PercentSalaryHike': 'Percent_Salary_Hike',
    'PerformanceRating': 'Performance_Rating',
    'RelationshipSatisfaction': 'Relationship_Satisfaction',
    'StockOptionLevel': 'Stock_Option_Level',
    'TotalWorkingYears': 'Total_Working_Years',
    'TrainingTimesLastYear': 'Training_Times_Last_Year',
    'WorkLifeBalance': 'Work_Life_Balance',
    'YearsAtCompany': 'Years_At_Company',
    'YearsInCurrentRole': 'Years_In_Current_Role',
    'YearsSinceLastPromotion': 'Years_Since_Last_Promotion',
    'YearsWithCurrManager': 'Years_With_Curr_Manager'
}

data.rename(columns=columns_to_rename, inplace=True)

In [15]:
data.drop_duplicates(inplace=True)

In [18]:
# Example: Remove leading/trailing spaces in a column
data = data.applymap(lambda x: x.strip() if isinstance(x, str) else x)
data.dropna(inplace=True)

# Example: Convert a column to lowercase
string_columns = ['Business_Travel', 'Department', 'Education_Field', 'Gender', 'Job_Role', 'Marital_Status', 'Over_Time']
data[string_columns] = data[string_columns].applymap(lambda x: x.lower() if isinstance(x, str) else x)

numeric_columns = ['Age', 'Distance_From_Home', 'Environment_Satisfaction', 'Job_Level', 'Job_Satisfaction', 'Monthly_Income',
                   'Num_Companies_Worked', 'Percent_Salary_Hike', 'Performance_Rating', 'Relationship_Satisfaction',
                   'Stock_Option_Level', 'Total_Working_Years', 'Training_Times_Last_Year', 'Work_Life_Balance',
                   'Years_At_Company', 'Years_In_Current_Role', 'Years_Since_Last_Promotion', 'Years_With_Curr_Manager']

data[numeric_columns] = data[numeric_columns].apply(pd.to_numeric, errors='coerce')

In [19]:
# Fill NaN values with the mean of the column
# Columns to retain for analysis
columns_to_retain = [
    'Age', 'Attrition', 'Business_Travel', 'Department', 'Distance_From_Home', 'Education', 'Education_Field',
    'Environment_Satisfaction', 'Gender', 'Job_Level', 'Job_Role', 'Job_Satisfaction', 'Marital_Status',
    'Monthly_Income', 'Num_Companies_Worked', 'Over_Time', 'Percent_Salary_Hike', 'Performance_Rating',
    'Relationship_Satisfaction', 'Stock_Option_Level', 'Total_Working_Years', 'Training_Times_Last_Year',
    'Work_Life_Balance', 'Years_At_Company', 'Years_In_Current_Role', 'Years_Since_Last_Promotion',
    'Years_With_Curr_Manager'
]

# Select only the columns to retain
data = data[columns_to_retain]

# Drop rows with any NaN values in the specified columns
data.dropna(inplace=True)

In [20]:
# Example: Convert a column to a categorical type
categorical_columns = [
    'Attrition', 'Business_Travel', 'Department', 'Education_Field', 'Gender', 'Job_Role', 'Marital_Status', 'Over_Time'
]
data[categorical_columns] = data[categorical_columns].astype('category')

# Convert numeric columns to 'float' or 'int' data type
numeric_columns = [
    'Age', 'Distance_From_Home', 'Environment_Satisfaction', 'Job_Level', 'Job_Satisfaction', 'Monthly_Income',
    'Num_Companies_Worked', 'Percent_Salary_Hike', 'Performance_Rating', 'Relationship_Satisfaction',
    'Stock_Option_Level', 'Total_Working_Years', 'Training_Times_Last_Year', 'Work_Life_Balance', 'Years_At_Company',
    'Years_In_Current_Role', 'Years_Since_Last_Promotion', 'Years_With_Curr_Manager'
]
data[numeric_columns] = data[numeric_columns].apply(pd.to_numeric)

# Check for unique values in categorical columns to identify inconsistencies
for column in categorical_columns:
    print(f'Unique values in {column}:')
    print(data[column].unique())
    print('\n')

# Identify potential outliers in numerical columns
# A simple way to do this is to describe the data and look at the min/max values
print(data.describe())

Unique values in Attrition:
['Yes', 'No']
Categories (2, object): ['No', 'Yes']


Unique values in Business_Travel:
['travel_rarely', 'travel_frequently', 'non-travel']
Categories (3, object): ['non-travel', 'travel_frequently', 'travel_rarely']


Unique values in Department:
['sales', 'research & development', 'human resources']
Categories (3, object): ['human resources', 'research & development', 'sales']


Unique values in Education_Field:
['life sciences', 'other', 'medical', 'marketing', 'technical degree', 'human resources']
Categories (6, object): ['human resources', 'life sciences', 'marketing', 'medical', 'other',
                         'technical degree']


Unique values in Gender:
['female', 'male']
Categories (2, object): ['female', 'male']


Unique values in Job_Role:
['sales executive', 'research scientist', 'laboratory technician', 'manufacturing director', 'healthcare representative', 'manager', 'sales representative', 'research director', 'human resources']
Categories (9, object): ['healthcare representative', 'human resources', 'laboratory technician', 'manager', ...,
                         'research director', 'research scientist', 'sales executive',
                         'sales representative']


Unique values in Marital_Status:
['single', 'married', 'divorced']
Categories (3, object): ['divorced', 'married', 'single']


Unique values in Over_Time:
['yes', 'no']
Categories (2, object): ['no', 'yes']


               Age  Distance_From_Home    Education  Environment_Satisfaction  \
count  1470.000000         1470.000000  1470.000000               1470.000000
mean     36.923810            9.192517     2.912925                  2.721769
std       9.135373            8.106864     1.024165                  1.093082
min      18.000000            1.000000     1.000000                  1.000000
25%      30.000000            2.000000     2.000000                  2.000000
50%      36.000000            7.000000     3.000000                  3.000000
75%      43.000000           14.000000     4.000000                  4.000000
max      60.000000           29.000000     5.000000                  4.000000

         Job_Level  Job_Satisfaction  Monthly_Income  Num_Companies_Worked  \
count  1470.000000       1470.000000     1470.000000           1470.000000
mean      2.063946          2.728571     6502.931293              2.693197
std       1.106940          1.102846     4707.956783              2.498009
min       1.000000          1.000000     1009.000000              0.000000
25%       1.000000          2.000000     2911.000000              1.000000
50%       2.000000          3.000000     4919.000000              2.000000
75%       3.000000          4.000000     8379.000000              4.000000
max       5.000000          4.000000    19999.000000              9.000000

       Percent_Salary_Hike  Performance_Rating  Relationship_Satisfaction  \
count          1470.000000         1470.000000                1470.000000
mean             15.209524            3.153741                   2.712245
std               3.659938            0.360824                   1.081209
min              11.000000            3.000000                   1.000000
25%              12.000000            3.000000                   2.000000
50%              14.000000            3.000000                   3.000000
75%              18.000000            3.000000                   4.000000
max              25.000000            4.000000                   4.000000

       Stock_Option_Level  Total_Working_Years  Training_Times_Last_Year  \
count         1470.000000          1470.000000               1470.000000
mean             0.793878            11.279592                  2.799320
std              0.852077             7.780782                  1.289271
min              0.000000             0.000000                  0.000000
25%              0.000000             6.000000                  2.000000
50%              1.000000            10.000000                  3.000000
75%              1.000000            15.000000                  3.000000
max              3.000000            40.000000                  6.000000

       Work_Life_Balance  Years_At_Company  Years_In_Current_Role  \
count        1470.000000       1470.000000            1470.000000
mean            2.761224          7.008163               4.229252
std             0.706476          6.126525               3.623137
min             1.000000          0.000000               0.000000
25%             2.000000          3.000000               2.000000
50%             3.000000          5.000000               3.000000
75%             3.000000          9.000000               7.000000
max             4.000000         40.000000              18.000000

       Years_Since_Last_Promotion  Years_With_Curr_Manager
count                 1470.000000              1470.000000
mean                     2.187755                 4.123129
std                      3.222430                 3.568136
min                      0.000000                 0.000000
25%                      0.000000                 2.000000
50%                      1.000000                 3.000000
75%                      3.000000                 7.000000
max                     15.000000                17.000000

In [21]:
print(data.head())
print(data.info())
print(data.describe())
print(data.shape)

   Age Attrition    Business_Travel              Department  \
0   41       Yes      travel_rarely                   sales
1   49        No  travel_frequently  research & development
2   37       Yes      travel_rarely  research & development
3   33        No  travel_frequently  research & development
4   27        No      travel_rarely  research & development

   Distance_From_Home  Education Education_Field  Environment_Satisfaction  \
0                   1          2   life sciences                         2
1                   8          1   life sciences                         3
2                   2          2           other                         4
3                   3          4   life sciences                         4
4                   2          1         medical                         1

   Gender  Job_Level  ... Performance_Rating  Relationship_Satisfaction  \
0  female          2  ...                  3                          1
1    male          2  ...                  4                          4
2    male          1  ...                  3                          2
3  female          1  ...                  3                          3
4    male          1  ...                  3                          4

  Stock_Option_Level  Total_Working_Years  Training_Times_Last_Year  \
0                  0                    8                         0
1                  1                   10                         3
2                  0                    7                         3
3                  0                    8                         3
4                  1                    6                         3

  Work_Life_Balance  Years_At_Company  Years_In_Current_Role  \
0                 1                 6                      4
1                 3                10                      7
2                 3                 0                      0
3                 3                 8                      7
4                 3                 2                      2

   Years_Since_Last_Promotion  Years_With_Curr_Manager
0                           0                        5
1                           1                        7
2                           0                        0
3                           3                        0
4                           2                        2

[5 rows x 27 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 27 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Age                         1470 non-null   int64
 1   Attrition                   1470 non-null   category
 2   Business_Travel             1470 non-null   category
 3   Department                  1470 non-null   category
 4   Distance_From_Home          1470 non-null   int64
 5   Education                   1470 non-null   int64
 6   Education_Field             1470 non-null   category
 7   Environment_Satisfaction    1470 non-null   int64
 8   Gender                      1470 non-null   category
 9   Job_Level                   1470 non-null   int64
 10  Job_Role                    1470 non-null   category
 11  Job_Satisfaction            1470 non-null   int64
 12  Marital_Status              1470 non-null   category
 13  Monthly_Income              1470 non-null   int64
 14  Num_Companies_Worked        1470 non-null   int64
 15  Over_Time                   1470 non-null   category
 16  Percent_Salary_Hike         1470 non-null   int64
 17  Performance_Rating          1470 non-null   int64
 18  Relationship_Satisfaction   1470 non-null   int64
 19  Stock_Option_Level          1470 non-null   int64
 20  Total_Working_Years         1470 non-null   int64
 21  Training_Times_Last_Year    1470 non-null   int64
 22  Work_Life_Balance           1470 non-null   int64
 23  Years_At_Company            1470 non-null   int64
 24  Years_In_Current_Role       1470 non-null   int64
 25  Years_Since_Last_Promotion  1470 non-null   int64
 26  Years_With_Curr_Manager     1470 non-null   int64
dtypes: category(8), int64(19)
memory usage: 231.1 KB
None
               Age  Distance_From_Home    Education  Environment_Satisfaction  \
count  1470.000000         1470.000000  1470.000000               1470.000000
mean     36.923810            9.192517     2.912925                  2.721769
std       9.135373            8.106864     1.024165                  1.093082
min      18.000000            1.000000     1.000000                  1.000000
25%      30.000000            2.000000     2.000000                  2.000000
50%      36.000000            7.000000     3.000000                  3.000000
75%      43.000000           14.000000     4.000000                  4.000000
max      60.000000           29.000000     5.000000                  4.000000

         Job_Level  Job_Satisfaction  Monthly_Income  Num_Companies_Worked  \
count  1470.000000       1470.000000     1470.000000           1470.000000
mean      2.063946          2.728571     6502.931293              2.693197
std       1.106940          1.102846     4707.956783              2.498009
min       1.000000          1.000000     1009.000000              0.000000
25%       1.000000          2.000000     2911.000000              1.000000
50%       2.000000          3.000000     4919.000000              2.000000
75%       3.000000          4.000000     8379.000000              4.000000
max       5.000000          4.000000    19999.000000              9.000000

       Percent_Salary_Hike  Performance_Rating  Relationship_Satisfaction  \
count          1470.000000         1470.000000                1470.000000
mean             15.209524            3.153741                   2.712245
std               3.659938            0.360824                   1.081209
min              11.000000            3.000000                   1.000000
25%              12.000000            3.000000                   2.000000
50%              14.000000            3.000000                   3.000000
75%              18.000000            3.000000                   4.000000
max              25.000000            4.000000                   4.000000

       Stock_Option_Level  Total_Working_Years  Training_Times_Last_Year  \
count         1470.000000          1470.000000               1470.000000
mean             0.793878            11.279592                  2.799320
std              0.852077             7.780782                  1.289271
min              0.000000             0.000000                  0.000000
25%              0.000000             6.000000                  2.000000
50%              1.000000            10.000000                  3.000000
75%              1.000000            15.000000                  3.000000
max              3.000000            40.000000                  6.000000

       Work_Life_Balance  Years_At_Company  Years_In_Current_Role  \
count        1470.000000       1470.000000            1470.000000
mean            2.761224          7.008163               4.229252
std             0.706476          6.126525               3.623137
min             1.000000          0.000000               0.000000
25%             2.000000          3.000000               2.000000
50%             3.000000          5.000000               3.000000
75%             3.000000          9.000000               7.000000
max             4.000000         40.000000              18.000000

       Years_Since_Last_Promotion  Years_With_Curr_Manager
count                 1470.000000              1470.000000
mean                     2.187755                 4.123129
std                      3.222430                 3.568136
min                      0.000000                 0.000000
25%                      0.000000                 2.000000
50%                      1.000000                 3.000000
75%                      3.000000                 7.000000
max                     15.000000                17.000000
(1470, 27)